.detail-texte{
    color: black;
    font-size: 1.3rem;
    margin: 0;
}

.container-detail-texte{

    display: flex;
    flex-direction: column;
}

.container-maps iframe{
    width: 40rem;
    height: 25rem;
    margin: 2vw 0;
    border: 0
}

.collected-button{
    width:100%;
    margin-bottom: 2vw;
}

.container-detail-items {
    width: calc(35% - 6vw); /* Ensure three items per row with gap */
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 0 0 1vw 0;
}

.containers-liste-items img{
    width: 12vw;
    height: 10vw;
    border-radius: 17px;
}

.Commande-titre{
    font-size: 3rem;
}

@media (max-width: 768px) {

    .container-detail{
        width: 80%;
    }

    .container-maps iframe{
        width: 100%;
    }
}