.paiement{
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    color: black;
    padding: 1vw 1vw;
    justify-content: center;
    width: 25vw;

}

.paiement h1{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 2vw;
}

.paiement p{
    margin: 0;
    font-size: 1vw;
}

.paiement input{
    border-radius: 0;
    background-image: none;
}

.data-ccv{
    margin-bottom: 50px;
}

.data-ccv {
    display: flex;
}

.data-ccv input {
    width: 100%;
}

.liste-resume img{
    width: 13.2vw;
    height: auto;
    border-radius: 17px;

}
.container-paiement{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 5vw;
}

.resume{
    background-color: darkgrey;
    color: black;
    padding: 1vw;
}

.article-resume{
    display: flex;
    flex-direction: row;
    border: 3px solid;
    border-radius: 20px;
    gap: 1vw;
    align-items: flex-end;
    width: 35vw;
    margin: 1vw 0;
    justify-content: space-between;
}

.article-resume p {
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
}

.resume h1 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 2vw;
}

.total-article, .total-livraison, .total-frais, .totals{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1vw;
    padding: 0 3vw;
    font-weight: bold;
}

.total-article{
    border-top: 3px solid;
}

.total-frais{
    border-bottom: 3px solid;
}

@media (max-width: 768px) {
    .paiement{
        width: 80%;
    }
    .resume{
        width: 80%;
    }
    .article-resume{
        width: 90%;
    }
    .article-resume img{
        width: 30vw;
    }
    .article-resume p {
        font-size: 2.3vw;
    }

    .container-paiement{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 15vw;

        button{
            margin-top: 2vw;
        }
    }

    .paiement p {
        font-size: 1.2rem;
    }

    .paiement h1 {
        font-size: 1.5rem;
    }
}




