.container-st{
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vw 0;

    p{
        font-size: 2.5rem;
    }

    button{
        margin: 0 2rem;
        border: 1px solid lightgray;    /* Bordure noire */

    }

}

.content-st{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media (max-width: 768px) {
    h1{
        font-size: 2.7rem;
        margin-bottom: 20px;
    }

    .container-st p{
        font-size: 2rem;
    }
}
