.detail-texte{
    color: black;
    font-size: 1.3vw;
    margin: 0;
}

.container-detail-texte{

    display: flex;
    flex-direction: column;
}

.containers-liste-items-resto {
    display: flex;
    flex-wrap: wrap;
    gap: 7vw;
    text-align: center;
    margin: 5vw 0;
    justify-content: center;
}

.container-detail-items {
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 0 0 1vw 0;

}

.containers-liste-items-resto img{
    width: 12rem;
    height: 10rem;
    border-radius: 17px;
}

.Commande-titre{
    font-size: 3rem;
}

.container-detail-items-resto{
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 1vw 0;
}