.Background {
    position: absolute;
    z-index: -1;
}

.background-image-inscription {
    width: 100%;
    height: 280px;
}


.titre-inscription {
    z-index: 1;
    margin-top: -80px;
    color: white;
}

.content-inscription {
    width: 100%;
}

.bannière{
    color: white;
    background-color: black;
}

.liste-info {
    width: 80%;
    max-width: 400px; /* Adjust as needed */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 1%;

}

.form-inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-inscription input, .form-inscription select{
    color: black;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

.inscription-button{
    color: white;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
}