.background-image-profil_developpeur {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Assure que l'image couvre toute la zone sans déformation */
}

.titre-profil_developpeur {     /* Titre de la section */
    z-index: 1;                 /* Position au-dessus de l'image de fond */
    margin-top: -70px;          /* Ajuste la position du titre */
    color: white;               /* Couleur du texte */
}


form {      /* Formulaire de la page */
    color: black;               /* Couleur du texte */
    display: flex;              /* Utilise Flexbox pour la mise en page */
    flex-direction: column;     /* Colonne pour empiler les éléments */
    align-items: normal;        /* Centre les éléments horizontalement */
    width: 80%;                /* Prend toute la largeur de son conteneur */
}






/*------------------------------------------------------------------*/
/*Partie du haut contenant Modifier le profil et supprimer le profil*/
/*------------------------------------------------------------------*/
.container_top {        /* bloc contenant Modifier et supprimer profil */
    display: grid;                      /* Utilise une grille CSS pour la mise en page */
    grid-template-columns: 1fr 1fr;     /* Deux colonnes de taille égale */
    gap: 20vw;                          /* Espace entre les colonnes */
    place-items: start;                /* Centre les éléments dans la grille */
    margin: 0 100px;           /* Espace entre le haut et le bas */
}

.modifier-profil_developpeur, .supprimer-profil_developpeur {
    width: 100%;    /* Assure que les éléments prennent toute la largeur de leur cellule */
}

.supprimer-profil_developpeur{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
}
.titre-modifier_profil_developpeur {
    text-align: center;     /* Centre le texte axe x*/
    margin: 0 auto;         /* Centre le texte axe y */
    width: 70%;
}




.modifier_email, .modifier-password, .modifier-account_name {
    display: flex;                      /* Utilise Flexbox pour la mise en page */
    flex-direction: row;                /* Colonne pour empiler les éléments */
    align-items: flex-end;              /* Centre les éléments horizontalement */
    justify-content: space-between;     /* Espace entre les éléments */
    width: 100%;
}

.save-button {
    width: auto;        /* Ajuste la taille du bouton à son contenu */
    margin-left: 2vw;   /* Espace entre le bouton et le champ de texte */
    border: 1px solid lightgray;    /* Bordure noire */

}

.delete-button {
    width: 70%;        /* Ajuste la taille du bouton à son contenu */
    border: 1px solid lightgray;    /* Bordure noire */
    margin-top: 20px; /* Ajouter une marge supérieure pour l'espacement */
}


/*-----------------------Fin partie supérieur-----------------------*/




/*------------------------------------------------------------------*/
/*---------------Partie du bas contenant les composants-------------*/
/*------------------------------------------------------------------*/
.container-consulter_composants{
    margin: 5vw 0 10vw 0;   /* Espace entre le haut et le bas */
    text-align: center;     /* Centre le texte */
}



.grid-composants {
    display: grid;                              /* Utilise une grille CSS pour la mise en page */
    grid-template-columns: repeat(3, 1fr);      /* Trois colonnes de taille égale */
    gap: 20px;                                  /* Espace entre les éléments */
    margin-top: 40px;                          /* Espace entre le haut et le bas */
}

.composant-service_paiement, .composant-liste_restaurants, .composant-suivi_livraison {
    display: flex;
    flex-direction: column;
    align-items: center;                       /* Centre les éléments horizontalement */
}



.composant-box_1, .composant-box_2, .composant-box_3 {
    width: 50%;                                /* Assure que les éléments prennent 50% de la largeur de leur cellule */
    height: 10vw;                              /* Hauteur fixe pour les composants */
    text-align: center;                        /* Centre le texte */
    align-content: center;                     /* Centre le contenu */
    color: white;                             /* Couleur du texte */
    background-color: gray;                     /* Couleur de fond grise */
    border-radius: 10px;                        /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   /* Ombre légère */
}

.consulter-button {         /* Bouton pour consulter le composant */
    padding: 10px 20px;         /* Espacement interne */
    width: 50%;              /* Centre le bouton horizontalement */
    background-color: white;    /* Couleur de fond du bouton */
    color: black;               /* Couleur du texte */
    border: 1px solid lightgray;    /* Bordure noire */
    border-radius: 5px;         /* Coins arrondis */
    cursor: pointer;            /* Curseur en forme de main */
}
/*---------------------Fin partie composants--------------------*/



/*------------------------------------------------*/
/* Media Queries pour rendre le design responsive */
/*------------------------------------------------*/

/* Media Queries pour les écrans de taille inférieure à 1200px */

@media (max-width: 1200px) {
    .container_top {
        grid-template-columns: 1fr 1fr; /* Deux colonnes de taille égale */
        gap: 20vw; /* Espace entre les éléments */
        margin: 0 6px 15px 6px;           /* Réduire la marge de gauche */
    }

    .modifier_email, .modifier-password, .modifier-account_name {
        min-width: 300px; /* Assure que les éléments prennent toute la largeur de leur cellule */
    }


    .grid-composants {
        grid-template-columns: repeat(3, 1fr); /* Trois colonnes */
    }

    .composant-box_1, .composant-box_2, .composant-box_3 {
        width: 50%; /* Ajuster la largeur des composants */
        min-width: 100px;
        min-height: 100px;
    }

    .consulter-button {
        width: 50%; /* Ajuster la largeur du bouton */
    }
}



/* Media Queries pour les petits écrans */

@media (max-width: 800px) {

    .titre-profil_developpeur {
        margin-top: -55px;
    }



    .container_top {
        grid-template-columns: 1fr; /* Une seule colonne */
        gap: 5vw; /* Réduire l'espace entre les éléments */
        margin: 0 6px 15px 6px;           /* Réduire la marge de gauche */
    }

    .modifier-profil_developpeur, .supprimer-profil_developpeur {
        margin: 0 0 15px 0;
    }


    .grid-composants {
        grid-template-columns: 1fr; /* Une seule colonne */
    }

    .container-consulter_composants {
        margin: 0 0 100px 0;   /* Réduire l'espace entre le haut et le bas */
    }


    .composant-box_1, .composant-box_2, .composant-box_3 {
        width: 100%;    /* Prendre toute la largeur */
        height: 20vw;   /* Augmenter la hauteur des composants */
    }

    .consulter-button {
        width: 80%; /* Augmenter la largeur du bouton */
    }

}

/* Media Queries pour les très petits écrans */

@media (max-width: 480px) {

    .titre-profil_developpeur {
        margin-top: -60px;
        font-size: 2.4em;
    }



    .container_top {
        grid-template-columns: 1fr; /* Une seule colonne */
        gap: 2vw;                   /* Réduire l'espace entre les éléments */
        margin: 0 1vw;           /* Réduire la marge de gauche */
    }
    .modifier-profil_developpeur, .supprimer-profil_developpeur {
        margin: 0 0 15px 0;
    }

    .container-consulter_composants {
        margin: 0 0 100px 0;   /* Réduire l'espace entre le haut et le bas */
    }

    .grid-composants {
        grid-template-columns: 1fr; /* Une seule colonne */
    }

    .composant-box_1, .composant-box_2, .composant-box_3 {
        width: 100%;    /* Prendre toute la largeur */
        height: 20vw;   /* Augmenter la hauteur des composants */
    }

    .consulter-button {
        width: 80%; /* Augmenter la largeur du bouton */
    }
}